{% extends 'base.html' %}
{% block content %}

 
<!-- .modal -->
<div class="modal fade" id="Mymodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
                	&times;
                </button> 
				<h4 class="modal-title">
                	Add friend to chat
                </h4>                                                             
			</div> 
			<div class="modal-body">

              {% for friend in friends %}
               <div class='col-md-12'>
                <button id="add_friend_sure" onclick="function_sure('{{friend.user.id}}')" style="border: none; background-color: white;">
                    <img src="{{friend.avatar.url}}" style="width: 100px; border-radius: 50%;">
                    <span style="color: lightskyblue">{{friend.user.username}}</span>
                </button>
                {% if friend.user in chat.users.all %}
                <span style="float: right;">In this room<span>
                {% else %}
                <a href="{% url 'messanger:add_to_chat' chat.id friend.id %}">
                <button class="button btn-success" style="float: right;">Add this user</button>
                </a>
                {% endif %}
               </div>
              {% endfor %}

			</div>   
			<div class="modal-footer">
			</div>
		</div>                                                                       
	</div>                                      
</div>


<div class="col-md-12">
<h2>Members</h2>

<!-- .Launch Modal Button-->
<div class="col-md-2">
    <button style="background-color: lightblue; border: none; border-radius: 50%; width: 100px; height: 100px;" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Mymodal">
        <span style="font-size: 60px;">
        +
        </span>
    </button>
    </div>

    {% for member in chat.users.all %}
      <div class='col-md-2'>
        <a href="{{member.consumer.get_absolute_url}}">
        <img src="{{member.consumer.avatar.url}}" style="width: 100px; border-radius: 50%;">
        {{member.username}}
        </a>
        {% if member != request.user and request.user in chat.moderators.all %}
        <button id="button-sure" onclick="something(member_id='{{member.id}}')" style="float: right; border: none; background-color: white;">
        <span style="color: red;">kick user</span>
        </button>
        <div style="visibility: hidden;" id='are_u_sure_{{member.id}}'>
        <span style="float: right;">Are you sure?   <a href="{% url 'messanger:kick_user_from_room' chat.id member.id %}" style="color: red;">yes</a></span>
        </div>
        {% endif %}
     </div>
    {% endfor %}
</div>

<script>
  function something(member_id) {
    var warn = document.getElementById('are_u_sure_' + member_id)
    if (warn.style.visibility == 'hidden') {
        warn.style.visibility  = 'visible';
    } else {
        warn.style.visibility  = 'hidden';
    }
  }
</script>

{% endblock %}
