{% extends 'base.html' %}
{% block content %}

 
<!-- .modal -->
<div class="modal fade" id="Mymodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
                	&times;
                </button> 
				<h4 class="modal-title">
                	Add friend to chat
                </h4>                                                             
			</div> 
			<div class="modal-body">
              {% for friend in friends %}

              <div class='col-md-12'>
                <button id="add_friend_sure" onclick="function_sure('{{friend.user.id}}')" style="border: none; background-color: white;">
                    <img src="{{friend.avatar.url}}" style="width: 100px; border-radius: 50%;">
                    <span style="color: lightskyblue">{{friend.user.username}}</span>
                </button>
                <a href="{% url 'messanger:add_to_chat' chat.id friend.id %}">
                <button class="button btn-success" style="float: right;">Add this user</button>
                </a>
               </div>

              {% endfor %}
			</div>   
			<div class="modal-footer">
			</div>
		</div>                                                                       
	</div>                                      
</div>


<div class="col-md-12">
<h2>Members</h2>

<!-- .Launch Modal Button-->
<div class="col-md-2">
    <button style="background-color: lightblue; border: none; border-radius: 50%; width: 100px; height: 100px;" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#Mymodal">
        <span style="font-size: 60px;">
        +
        </span>
    </button>
    </div>

    {% for member in chat.users.all %}
      <div class='col-md-2'>
        <a href="{{member.consumer.get_absolute_url}}">
        <img src="{{member.consumer.avatar.url}}" style="width: 100px; border-radius: 50%;">
        {{member.username}}
        </a>
     </div>
    {% endfor %}
</div>


{% endblock %}
