<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Messanger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'css/base.css' %}">
</head>
<body>
<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Messanger</a>
      </header>
      <ul class="nav">
        <li>
          <a href="{{ user.consumer.get_absolute_url }}">
            My profile
          </a>
        </li>
        <li>
          <a href="{% url 'messanger:chat_room' %}">
            Messages
          </a>
        </li>
        <li>
          <a href="#">
            Friends
          </a>
        </li>
      </ul>
    </div>
    <!-- Content -->
    <div id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
              </a>
            </li>
            <!-- <li>
              <a href="{% url 'mainapp:logout' %}">logout</a>
            </li>
            <li>
                <a href="#">{{ user.username }}</a>
            </li> -->

            <li>
              <div class="dropdown mt-1">
                <button style="background-color: white; color: black; border: 1px solid grey;" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {{ user.username }}
                  <img style="border-radius: 50%; width: 45px;" src="{{ user.consumer.avatar.url }}">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="{{ user.consumer.get_absolute_url }}">My profile</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'mainapp:logout' %}">logout</a></li>
                </ul>
              </div>
            </li>
            
          </ul>
        </div>
      </nav>
      <div class="container-fluid">

        {% block content %}
        <h1>Simple Sidebar</h1>
        <p>
          Make sure to keep all page content within the 
          <code>#content</code>.
        </p>
        {% endblock %}

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
</body>
</html>