{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel='stylesheet' href="{% static 'css/chat_room.css' %}"> 
<div class="container bootstrap snippets bootdey">
	{% if this_chat %}
	{% include 'user_chats.html' %}
        
        <!--=========================================================-->
		<!-- selected chat -->
			<div class="col-md-8">
				<a href="{% url 'messanger:add_friend_to_chat' this_chat.id%}" style="text-decoration: underline; color: green; float: right;">
					<button class="button btn-success btn-lg">Members</button>
				</a>
			</div>
			<br><br><br>
            {% if user in this_chat.moderators.all %}
			<div>
				<a href="{% url 'messanger:chat_room_settings' this_chat.id %}" style="text-decoration: underline; color: darkslategray;">
					<p style="font-size: 20px">Chat room settings</p>
				</a>
			</div>
            {% endif %}
	<div class="chat-box bg-white col-md-8" style="border: 3px dotted lightgrey; border-bottom: 0px;">
			<!-- <form action="{% url 'messanger:chat_room' this_chat.id %}" method="post"> -->
				<div class="input-group" style="width: 95%;">
					{% csrf_token %}
					<input id='message-input' name='sended-message' class="form-control border no-shadow no-rounded" placeholder="Type your message here">
					<span class="input-group-btn">
						<button id="message-btn" type="submit" class="btn btn-success no-rounded" type="button">Send</button>
					</span>
				</div><!-- /input-group -->	
			<!-- </form> -->
	</div>            
    	<div class="col-md-8 bg-white" style="overflow-y: scroll; height: 85vh; border: 3px dotted lightgrey;">
            <div id="message-list" class="chat-message">
                <ul class="chat">
					{% if chat_messages %}
						{% for message in chat_messages %}
						{% if message.from_user != user %}
						<li class="left clearfix">
							<span class="chat-img pull-left">
								<a href="{{message.from_user.consumer.get_absolute_url}}">
									<img src="{{message.from_user.consumer.avatar.url}}" alt="User Avatar">
								</a>
							</span>
							<div class="chat-body clearfix">
								<div class="header">
									<a href="{{message.from_user.consumer.get_absolute_url}}">
										<strong class="primary-font">
											{{message.from_user.username}}
										</strong>
									</a>
									<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{message.sended}}</small>
								</div>
								<p>
									{{message.text}}
								</p>
							</div>
						{% else %}
						<li class="right clearfix">
							<span class="chat-img pull-right">
								<a href="{{message.from_user.consumer.get_absolute_url}}"><img src="{{message.from_user.consumer.avatar.url}}" alt="User Avatar"></a>
							</span>
							<div class="chat-body clearfix">
								<div class="header">
									<a href="{{message.from_user.consumer.get_absolute_url}}"><strong class="primary-font">{{message.from_user.username}}</strong></a>
									<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{message.sended}}</small>
								</div>
								<p>
									{{message.text}}
								</p>
							</div>
						</li>
						{% endif %}
						{% endfor %}
					{% endif %}
                </ul>
			</div>
  </div>

{% else %}
	{% include 'user_chats.html' %}
<h2>There is no chats</h2>
{% endif %}

</div>

{{ this_chat.name|json_script:"room-name" }}
{{ request.user.username|json_script:"author" }}
<script>
	const roomName = JSON.parse(document.querySelector('#room-name').textContent);
	const author = JSON.parse(document.querySelector("#author").textContent);

	const chatSocket = new WebSocket(
		'ws://' + 
		window.location.host + 
		'/ws/chat/' +
		roomName +
		'/'
	);

	chatSocket.onmessage = function(e) {
		const data = JSON.parse(e.data);
		messageList = document.getElementById("message-list");

		if (data['message']['username'] != author) {
			var message_text_html = 
    '<ul class="chat">\n' +
    '<li class="left clearfix">\n' +
        '<span class="chat-img pull-left">\n' +
            '<a href="' + data['message']['absolute_url'] + '">\n' +
                '<img src="'+ data['message']['avatar_url'] + '" alt="User Avatar">\n' +
            '</a>\n' +
        '</span>\n' +
        '<div class="chat-body clearfix">\n' +
            '<div class="header">\n' +
                '<a href="'+ data['message']['absolute_url'] +'">\n' +
                    '<strong class="primary-font">\n' +
                        data['message']['username'] +
                    '</strong>\n' +
                '</a>\n' +
                '<small class="pull-right text-muted"><i class="fa fa-clock-o"></i>' + data['message']['sended'] +  '</small>\n' +
            '</div>\n' +
            '<p>\n' +
                data['message']['text'] +
            '</p>\n' +
			'</ul>\n'

		} else {

			var message_text_html = 
    '<ul class="chat">\n' +
    '<li class="right clearfix">\n' +
        '<span class="chat-img pull-right">\n' +
            '<a href="'+ data['message']['absolute_url'] +'"><img src="'+ data['message']['avatar_url'] +'" style="width: 50px;" alt="User Avatar"></a>\n' +
        '</span>\n' +
        '<div class="chat-body clearfix">\n' +
            '<div class="header">\n' +
                '<a href="'+ data['message']['absolute_url'] +'"><strong class="primary-font">'+ data['message']['username'] +'</strong></a>\n' +
                '<small class="pull-right text-muted"><i class="fa fa-clock-o"></i>'+ data['message']['sended'] + '</small>\n' +
            '</div>\n' +
            '<p>\n' +
                data['message']['text'] +
            '</p>\n' +
        '</div>\n' +
    '</li>\n'+
	'</ul>'
			};

		messageList.insertAdjacentHTML(
			'afterbegin',
			message_text_html
		);
	};

	document.querySelector("#message-input").focus()
	document.querySelector("#message-input").onkeyup = function(e) {
		if (e.keyCode === 13) {
			document.querySelector("#message-btn").click();
		};
	};

	document.querySelector("#message-btn").onclick = function(e) {
		const messageInput = document.querySelector("#message-input");
		const message = messageInput.value;
		chatSocket.send(JSON.stringify({
			'message': message,
			'author': author,
		}));
		messageInput.value = '';
	};
</script>

{% endblock %}

	
