{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel='stylesheet' href="{% static 'css/chat_room.css' %}"> 
<div class="container bootstrap snippets bootdey">
	{% if this_chat %}
	{% include 'user_chats.html' %}
        
        <!--=========================================================-->
		<!-- selected chat -->
		<div class="col-md-8" style="border: 1px solid lightblue; background-color: rgb(234, 255, 255);">
			<a href="{% url 'messanger:chat_room_settings' this_chat.id %}" style="text-decoration: underline; color: darkslategray;">
				<h5>Chat room settings</h5>
			</a>
		</div>
	<div class="chat-box bg-white col-md-8" style="border: 3px dotted lightgrey; border-bottom: 0px;">
			<form action="{% url 'messanger:chat_room' this_chat.id %}" method="post">
				<div class="input-group" style="width: 95%;">
					{% csrf_token %}
					<input name='sended-message' class="form-control border no-shadow no-rounded" placeholder="Type your message here">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-success no-rounded" type="button">Send</button>
					</span>
				</div><!-- /input-group -->	
			</form>
	</div>            
    	<div class="col-md-8 bg-white" style="overflow-y: scroll; height: 85vh; border: 3px dotted lightgrey;">
            <div class="chat-message">
                <ul class="chat">
					{% if chat_messages %}
						{% for message in chat_messages %}
						{% if message.from_user != user %}
						<li class="left clearfix">
							<span class="chat-img pull-left">
								<a href="{{message.from_user.consumer.get_absolute_url}}">
									<img src="{{message.from_user.consumer.avatar.url}}" alt="User Avatar">
								</a>
							</span>
							<div class="chat-body clearfix">
								<div class="header">
									<a href="{{message.from_user.consumer.get_absolute_url}}">
										<strong class="primary-font">
											{{message.from_user.username}}
										</strong>
									</a>
									<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{message.sended}}</small>
								</div>
								<p>
									{{message.text}}
								</p>
							</div>
						{% else %}
						<li class="right clearfix">
							<span class="chat-img pull-right">
								<a href="{{message.from_user.consumer.get_absolute_url}}"><img src="{{message.from_user.consumer.avatar.url}}" alt="User Avatar"></a>
							</span>
							<div class="chat-body clearfix">
								<div class="header">
									<a href="{{message.from_user.consumer.get_absolute_url}}"><strong class="primary-font">{{message.from_user.username}}</strong></a>
									<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{message.sended}}</small>
								</div>
								<p>
									{{message.text}}
								</p>
							</div>
						</li>
						{% endif %}
						{% endfor %}
					{% endif %}
                </ul>
			</div>
  </div>

{% else %}
<h2>There is no chats</h2>
{% endif %}

</div>

<script>
	document.getElementById('NewChatForm').onclick = function() {
		var butt = document.getElementById("AddNewChatName").style;
		if (butt.visibility == 'hidden') {
			butt.visibility = 'visible';
			document.getElementById("NewChatForm").style.visibility = 'hidden';
		} else {
			butt.visibility = 'hidden';
		}
	}
</script>

{% endblock %}

	