{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel='stylesheet' href="{% static 'css/chat_room.css' %}"> 
<div class="container bootstrap snippets bootdey">
	{% if this_chat %}
    <div class="row">
		<div class="col-md-4 bg-white ">
			<div class=" row border-bottom padding-sm" style="height: 40px;">
				My chats
            </div>
            
            <!-- =============================================================== -->
            <!-- member list -->
            <ul class="friend-list">
                <!-- <li class="active bounceInDown">
                	<a href="#" class="clearfix">
                		<img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                		<div class="friend-name">	
                			<strong>John Doe</strong>
                		</div>
                		<div class="last-message text-muted">Hello, Are you there?</div>
                		<small class="time text-muted">Just now</small>
                		<small class="chat-alert label label-danger">1</small>
                	</a>
				</li> -->
				<li>
						<a class="clearfix">
							<button class="button btn-success" style="width: 50%;" onclick="NewChatForm" id="NewChatForm">
							<img src="{% static 'plus.png' %}" style="width: 30px; height: 30px;" alt="Add new" class="img-circle">
							<div id="AddNewChatText">
								Add new chat
							</div>
							</button>
							<div style="visibility: hidden;" id="AddNewChatName">
								<form method="post" action="{% url 'messanger:create_new_chat' %}">
								{% csrf_token %}
								<input name='chat_name'>
								<button type="submit" class="button btn-success">add</button>
								</form>
							</div>
						</a>
				</li>
				{% for chat in user_chats %}
				<li>
					<a href="{{chat.get_absolute_url}}" class="clearfix">
						<img src="{{chat.image.url}}" alt="" class="img-circle">
						<div class="friend-name">	
							<strong>{{chat.name}}</strong>
						</div>
						<!-- <small class="time text-muted"></small> -->
					<!-- <small class="chat-alert text-muted"><i class="fa fa-check"></i></small> -->
					</a>
				</li> 
				{% endfor %}
            </ul>
		</div>
        
        <!--=========================================================-->
        <!-- selected chat -->
	<div class="chat-box bg-white col-md-8" style="border: 3px dotted lightgrey; border-bottom: 0px;">
			<form action="{% url 'messanger:chat_room' this_chat.id %}" method="post">
				<div class="input-group" style="width: 95%;">
					{% csrf_token %}
					<input name='sended-message' class="form-control border no-shadow no-rounded" placeholder="Type your message here">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-success no-rounded" type="button">Send</button>
					</span>
				</div><!-- /input-group -->	
			</form>
	</div>            
    	<div class="col-md-8 bg-white" style="overflow-y: scroll; height: 85vh; border: 3px dotted lightgrey;">
            <div class="chat-message">
                <ul class="chat">
					{% if chat_messages %}
						{% for message in chat_messages %}
						{% if message.from_user != user %}
						<li class="left clearfix">
							<span class="chat-img pull-left">
								<a href="{{message.from_user.consumer.get_absolute_url}}">
									<img src="{{message.from_user.consumer.avatar.url}}" alt="User Avatar">
								</a>
							</span>
							<div class="chat-body clearfix">
								<div class="header">
									<a href="{{message.from_user.consumer.get_absolute_url}}">
										<strong class="primary-font">
											{{message.from_user.username}}
										</strong>
									</a>
									<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{message.sended}}</small>
								</div>
								<p>
									{{message.text}}
								</p>
							</div>
						{% else %}
						<li class="right clearfix">
							<span class="chat-img pull-right">
								<a href="{{message.from_user.consumer.get_absolute_url}}"><img src="{{message.from_user.consumer.avatar.url}}" alt="User Avatar"></a>
							</span>
							<div class="chat-body clearfix">
								<div class="header">
									<a href="{{message.from_user.consumer.get_absolute_url}}"><strong class="primary-font">{{message.from_user.username}}</strong></a>
									<small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{message.sended}}</small>
								</div>
								<p>
									{{message.text}}
								</p>
							</div>
						</li>
						{% endif %}
						{% endfor %}
					{% endif %}
                </ul>
			</div>
  </div>

{% else %}
<h2>There is no chats</h2>
{% endif %}

</div>

<script>
	document.getElementById('NewChatForm').onclick = function() {
		var butt = document.getElementById("AddNewChatName").style;
		if (butt.visibility == 'hidden') {
			butt.visibility = 'visible';
			document.getElementById("NewChatForm").style.visibility = 'hidden';
		} else {
			butt.visibility = 'hidden';
		}
	}
</script>

{% endblock %}

	