{% load static %}
    <div class="row">
		<div class="col-md-4 bg-white ">
			<div class=" row border-bottom padding-sm" style="height: 40px;">
				My chats
            </div>
            
            <!-- =============================================================== -->
            <!-- member list -->
            <ul class="friend-list">
                <!-- <li class="active bounceInDown">
                	<a href="#" class="clearfix">
                		<img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                		<div class="friend-name">	
                			<strong>John Doe</strong>
                		</div>
                		<div class="last-message text-muted">Hello, Are you there?</div>
                		<small class="time text-muted">Just now</small>
                		<small class="chat-alert label label-danger">1</small>
                	</a>
				</li> -->
				<li>
						<a class="clearfix">
							<button class="button btn-success" style="width: 50%;" onclick="NewChatForm" id="NewChatForm">
							<img src="{% static 'plus.png' %}" style="width: 30px; height: 30px;" alt="Add new" class="img-circle">
							<div id="AddNewChatText">
								Add new chat
							</div>
							</button>
							<div style="visibility: hidden;" id="AddNewChatName">
								<form method="post" action="{% url 'messanger:create_new_chat' %}">
								{% csrf_token %}
								<input name='chat_name'>
								<button type="submit" class="button btn-success">add</button>
								</form>
							</div>
						</a>
				</li>
				{% for chat in user_chats %}
				<li {% if this_chat == chat %} class="active bounceInDown" {% endif %}>
					<a href="{{chat.get_absolute_url}}" class='clearfix'>
						<img src="{{chat.image.url}}" alt="" class="img-circle">
						<div class="friend-name">	
						<strong>{{chat.name}}</strong>
						</div>
					</a>
				</li> 
				{% endfor %}
            </ul>
		</div>

<script>
	document.getElementById('NewChatForm').onclick = function() {
		var butt = document.getElementById("AddNewChatName").style;
		if (butt.visibility == 'hidden') {
			butt.visibility = 'visible';
			document.getElementById("NewChatForm").style.visibility = 'hidden';
		} else {
			butt.visibility = 'hidden';
		}
	}
</script>
