{% extends 'base.html' %}
{% block content %}

<br><br>
<div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{user_c.consumer.avatar.url}}" style="width: 80%;" alt="user-avatar"/>

                    {% if user_c.consumer in user.consumer.friends.all %}
                        <h3>This is your friend</h3>
                    {% elif user_c != user %}

                        {% if user_c in sended_request_to_me_users %}
                            <p>Request to friends received</p>
                        {% elif user_c not in sended_requests_to_friends %}
                        <!-- <a href="{% url 'messanger:send_friend_request' request.user.id user_c.id %}"> -->
                            <button id="add-to-friends-btn" class="button btn-success">Add to friends</button>
                        <!-- </a> -->
                        {% endif %}

                    {% endif %}

                    {% if user != user_c %}
                    <button class="button btn-success">Write message</button>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-5">
                <div class="content">
                    <div class="tab-pane">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_c.username}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_c.consumer.phone}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_c.consumer.gender}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Birthday</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_c.consumer.birth}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_c.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Friends</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{user_c.consumer.friends.count}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if user.id == user_c.id %}
            <div class="col-md-2">
                <a href="{% url 'messanger:change_profile' %}"><button class="button">Edit profile</button></a>
            </div>
            {% endif %}

        </div>
</div>

{{ user_c.id|json_script:'sendToUserId' }}

{% endblock %}