{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="row">
    <div class="col-sm-10"><h1>{{user_c.username}}</h1></div>
</div>
<div class="row">
    <div class="col-sm-3">
        

<div class="text-center">
  <img src="{{ user.consumer.avatar.url }}" class="avatar img-circle img-thumbnail" alt="avatar">
  <h6>Upload a different photo...</h6>
  <form enctype="multipart/form-data" method="post" action="{% url 'messanger:change_user_avatar' %}">
      {% csrf_token %}
    {{form_image.avatar}}
    <br>
    <input type="submit" value='Change avatar'>
  </form>
</div></hr><br>
    
    <ul class="list-group">
      <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
      <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
    </ul> 
         
    <div class="panel panel-default">
      <div class="panel-heading">Social Media</div>
      <div class="panel-body">
          <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
      </div>
    </div>
    
  </div><!--/col-3-->
  <div class="col-sm-9">

    <div class="tab-content">
      <div class="tab-pane active" id="home">
          {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
          {% endif %}
          <hr>
            <form class="form" action="" method="post">
                {% csrf_token %}
                {% for line in form %}
                <div class='form-ground'>
                    <div class="col-xs-6">
                        <label><h4>{{line.label}}</h4></label>
                        {% render_field line class="form-control" %}
                    </div>
                </div>
                {% endfor %}

                <div class="form-group">
                     <div class="col-xs-12">
                          <br>
                            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                      </div>
                </div>
            </form>

       </div><!--/tab-pane-->
  </div><!--/col-9-->
</div><!--/row-->

<script>
var date = new Date("{{user.consumer.birth.month}} {{user.consumer.birth.day}} {{user.consumer.birth.year}}")
document.getElementById('id_username').value = "{{user.username}}";
document.getElementById('id_birth').valueAsDate = date;
document.getElementById('id_gender').value = "{{user.consumer.gender}}";
document.getElementById('id_email').value = "{{user.email}}";
document.getElementById('id_phone').value = "{{user.consumer.phone}}";
</script>
{% endblock %}
